{% extends "base/base.html" %}
{% block titulo %}Clientes{% endblock %}
{% block contenido %}
    <h1>Clientes</h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Imagen</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.dni }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellidos }}</td>
                    <td>{{ cliente.imagen }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}